/* light theme */
:root {
  /* background */
  --bg-000: #ffffff;
  --bg-100: #f9f9f7;
  --bg-200: #f3f3f0;
  --bg-300: #f0efec;
  --bg-400: #e7e6e1;
  --bg-500: #e7e6e1;

  /* text */
  --text-000: #131313;
  --text-100: #131313;
  --text-200: #383835;
  --text-300: #383835;
  --text-400: #7b7974;
  --text-500: #7b7974;

  /* accent */
  --accent-000: #184f95;
  --accent-100: #2a78d6;
  --accent-900: #cde2fb;
  --danger-000: #8e2626;
  --danger-100: #d03b3b;
  --danger-900: #fad6d6;
  --success-000: #006300;
  --success-100: #009300;
  --success-900: #caeac7;
  --warning-000: #734500;
  --warning-100: #a66a00;
  --warning-900: #f9dca4;

  /* border */
  --border-100: #1e1e1d;

  /* brand */
  --brand-000: #c6613f;
  --brand-100: #c6613f;
  --brand-200: #d97757;

  /* shadow-box */
  --navbar-shadow:
    0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* dark theme */
:root.dark,
[data-theme="dark"] {
  /* background */
  --bg-000: #2c2c2a;
  --bg-100: #20201f;
  --bg-200: #181817;
  --bg-300: #131313;
  --bg-400: #0b0b0b;
  --bg-500: #0b0b0b;

  /* text */
  --text-000: #f9f9f7;
  --text-100: #f9f9f7;
  --text-200: #c3c2b7;
  --text-300: #c3c2b7;
  --text-400: #97958d;
  --text-500: #97958d;

  /* accent */
  --accent-000: #9ec5f4;
  --accent-100: #3987e5;
  --accent-900: #062b57;
  --danger-000: #f4abab;
  --danger-100: #e34948;
  --danger-900: #511212;
  --success-000: #91d68b;
  --success-100: #0ca30c;
  --success-900: #0f350d;
  --warning-000: #fab219;
  --warning-100: #b77700;
  --warning-900: #412400;

  /* border */
  --border-100: #e1e0d9;

  /* brand */
  --brand-000: #c6613f;
  --brand-100: #c6613f;
  --brand-200: #d97757;

  /* shadow-box */
  --navbar-shadow:
    0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* system default theme */
@media (prefers-color-scheme: dark) {
  :root:not(.light):not([data-theme="light"]) {
    /* background */
    --bg-000: #2c2c2a;
    --bg-100: #20201f;
    --bg-200: #181817;
    --bg-300: #131313;
    --bg-400: #0b0b0b;
    --bg-500: #0b0b0b;
    --bg-000-a: 44, 44, 42, 0.3;

    /* text */
    --text-000: #f9f9f7;
    --text-100: #f9f9f7;
    --text-200: #c3c2b7;
    --text-300: #c3c2b7;
    --text-400: #97958d;
    --text-500: #97958d;

    /* accent */
    --accent-000: #9ec5f4;
    --accent-100: #3987e5;
    --accent-900: #062b57;
    --danger-000: #f4abab;
    --danger-100: #e34948;
    --danger-900: #511212;
    --success-000: #91d68b;
    --success-100: #0ca30c;
    --success-900: #0f350d;
    --warning-000: #fab219;
    --warning-100: #b77700;
    --warning-900: #412400;

    /* border */
    --border-100: #e1e0d9;

    /* brand */
    --brand-000: #c6613f;
    --brand-100: #c6613f;
    --brand-200: #d97757;

    /* shadow-box */
    --navbar-shadow:
      0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
}

body {
  background-color: var(--bg-100);
  color: var(--text-100);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  font-family: "Microsoft YaHei", sans-serif;
}

/* background */
.background {
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background-mask {
  display: flex;
  position: absolute;
  inset: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.welcome-text {
  color: var(--text-100);
  text-align: center;
  font-size: 2rem;
}

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  box-shadow: var(--navbar-shadow);
}

.navbar-container {
  width: 1100px;
  margin: 0 auto;
  padding: 15px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  color: var(--text-100);
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.navbar-nav {
  display: flex;
  gap: 1rem;
}

.navbar-nav a {
  color: var(--text-100);
  text-decoration: none;
  font-size: 14px;
}

/* navbar scroll blur */
@supports (-webkit-backdrop-filter: blur(3px)) or (backdrop-filter: blur(3px)) {
  .navbar .dropdown-collapse,
  .top-nav-collapse,
  .navbar-col-show {
    background: rgba(var(--bg-000-a));
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }
}

@supports not (
  (-webkit-backdrop-filter: blur(3px)) or (backdrop-filter: blur(3px))
) {
  .navbar .dropdown-collapse,
  .top-nav-collapse,
  .navbar-col-show {
    background: var(--bg-300);
  }
}
