html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  width: 100%;
  line-height: 1.5;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

h2 {
  margin: 1rem 0;
  font-size: 2rem;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 100ch;
  padding: 1rem 2rem;
}
