/* light theme */
:root {
  --bg-primary: #faf9f5;
  --text-primary: #2c2c2c;
}

/* dark theme */
:root.dark {
  /* 也可以使用 data 属性 */
  --bg-primary: #1a1815;
  --text-primary: #e8e6e3;
}

/* system default theme */
@media (prefers-color-scheme: dark) {
  :root:not(.light):not([data-theme="light"]) {
    --bg-primary: #1a1815;
    --text-primary: #e8e6e3;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  font-family: "Microsoft YaHei", sans-serif;
}

/* background */
.background {
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background-mask {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-text {
  color: var(--text-primary);
  text-align: center;
  font-size: 2rem;
}

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  box-shadow:
    0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.navbar-container {
  width: 1100px;
  margin: 0 auto;
  padding: 15px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  color: var(--text-primary);
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.navbar-nav {
  display: flex;
  gap: 1rem;
}

.navbar-nav a {
  color: var(--text-primary);
  text-decoration: none;
  font-size: 14px;
}

/* navbar scroll blur */
@supports (-webkit-backdrop-filter: blur(3px)) or (backdrop-filter: blur(3px)) {
  .navbar .dropdown-collapse,
  .top-nav-collapse,
  .navbar-col-show {
    background: rgba(47, 65, 84, 0.7);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }
}

@supports not (
  (-webkit-backdrop-filter: blur(3px)) or (backdrop-filter: blur(3px))
) {
  .navbar .dropdown-collapse,
  .top-nav-collapse,
  .navbar-col-show {
    background: #2f4154;
  }
}
